.heading {
  display: flex;
  justify-content: center;
}

.input {
  size: 2rem;
  width: 250px;
  padding: 0.5rem;
  display: flex;
  margin: auto;
}

.content {
  width: 300px;
  height: auto;
  display: flex;
  margin: auto;
  margin-top: 20px;
  justify-content: center;
}

.emojis {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.emojis p {
  font-size: 2rem;
  margin: 0 0.5rem;
  cursor: pointer;
}
